body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    
    /* padding: 100px 0; */
    text-align: center;
    display: grid;
    position: relative;


}
.container-inner{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #f4cb82 0%, #bf3d7d 46%, #6b42b4 100%); */
    background: rgb(244,204,128);
background: linear-gradient(156deg, rgba(244,204,128,1) 1%, rgba(204,44,131,1) 56%, rgba(107,65,175,1) 100%);
    overflow: scroll;
    text-align: center;
    display: grid;
    position: absolute;
    top: 0px;
    left: 0px;
}
.box-border{
    border: 1px solid #e9b6ac ;
}
.head{
    background: #c4537f;
/* background: linear-gradient(90deg, rgba(235,123,119,1) 0%, rgba(182,79,132,1) 61%); */
    height: 150px;
    border-radius: 0px 0px 25px 25px;
    margin: auto;
    /* display: inline-block;
    margin-top: 21px; */
}
.footer{
    background-color: #cb637b;
    width: 370px;
    height: 175px;
    border-radius: 20px 20px 0 0; 
    margin: auto; 
    margin-top: 4rem;
}
.footer_box{
    background-color: #bf5d88;
    width: 350px;
    height: 166px;
    border-radius: 20px 20px 0 0; 
    margin: auto;
    margin-top: 0.5rem;
}
.colum_box{
    background-color: #dd837a;
    width: 400px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin: auto;
}
.inner_box{
    background: rgb(226,96,117);
    background: linear-gradient(145deg, rgba(226,96,117,1) 0%, rgba(194,84,130,1) 99%);
    border: 0px ;
    height: 350px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
    /* border-left: 1px solid #e9aea5;
    border-top: 1px solid #e8aaa5; */

    
}
.colum_top{
    background-color: #c45f7f;
    width: 250px;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 3px;
    margin-right: 20px;
}
.colum_top1{
    background-color: #c45f7f;
    width: 120px;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.circle1{
    background-color: #d8797a;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 16px; 
}

.inner_box1{
    background-color: #e49c92;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
}
.inner_box2{
    background-color: #e49c92;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
}
.inner_box3{
    background-color: #e49c92;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
}
.inner_box4{
    background-color: #e49c92;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
}
.inner_box5{
    background-color: #d0677c;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    margin-top: 21px;
}

/* .inner_box:hover{
    transform: scale(1.1);
} */
.header{
    /* background-color: #df8f7f; */
    background:#d47b7e;
    box-shadow: 5px #d0677c;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    margin: 10px ;
}
.body{
    display: flex;
}
.circle{
    background-color: #dd837a;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 20px 10px 10px 10px;

}
.colum{
    display:flex;
    flex-direction: column;
}
.colum1{
    background-color: #dd837a;
    width: 280px;
    height: 20px;
    border-radius: 10px;
    margin: 20px 10px 12px 0px;
}
.colum2{
    background-color: #dd837a;
    width: 150px;
    height: 12px;
    border-radius: 10px;
}
.circle_bottom{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dc7b7c;

}